*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

#container{
    position: relative;
    min-height: 100vh;
}

main {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 200px
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.favicon{
    width:40px;
}

.weather-site{
    position: relative;
    top: 2px;
}

h1{
    padding-top:50px;
}
